<section class="section container mb-0">
    <h3 class="section__title">Projects</h3>
    <div class="section__item">
      <div class="section__ico">
        <img
          src="https://github.com/ignaciojsoler/ignaciojsoler/raw/main/img/travel.png"
          alt=""
        />
      </div>
      <div class="section__info">
        <div class="section__job">Travel & Adventure Landing Page</div>
        <div class="section__description">
          Website estático con temática de viajes y aventuras.
        </div>
        <div class="section__period">enero 2022</div>
        <a class="section__link" href="#">Ir al repositorio</a>
      </div>
    </div>
    <div class="section__item">
      <div class="section__ico">
        <img
          src="https://github.com/ignaciojsoler/ignaciojsoler/raw/main/img/weather.png"
          alt=""
        />
      </div>
      <div class="section__info">
        <div class="section__job">Weather App</div>
        <div class="section__description">
          Aplicación web meteorológica que desarrollé para practicar la
          interracción con APIs.
        </div>
        <div class="section__period">diciembre 2021</div>
        <a class="section__link" href="#">Ir al repositorio</a>
      </div>
    </div>
    <div class="section__item">
      <div class="section__ico">
        <img
          src="https://github.com/ignaciojsoler/ignaciojsoler/raw/main/img/krono.png"
          alt=""
        />
      </div>
      <div class="section__info">
        <div class="section__job">Music and Sound Sesing Website</div>
        <div class="section__description">
          Página web que desarrollé para mi emprendimiento profesional, donde
          compongo música para cine y videojuegos.
        </div>
        <div class="section__period">noviembre 2021</div>
        <a class="section__link" href="#">Ir al repositorio</a>
      </div>
    </div>
  </section>