<section class="section container">
    <h3 class="section__title">Educación</h3>

    <article class="section__item">
      <div class="section__ico">
        <img
          src="https://media-exp1.licdn.com/dms/image/C4E03AQF66l8DV-k7yQ/profile-displayphoto-shrink_200_200/0/1635256297569?e=1652918400&v=beta&t=XMc2OzPEbkDMDUTt4rO9LaPa2AnhftF1qKV5pwntOBo"
          alt=""
        />
      </div>
      <div class="section__info">
        <div class="section__job">
          ISPC Instituto Superior Politécnico Córdoba
        </div>
        <div class="section__description">
          Desarrollo Web y Aplicaciones Digitales.
        </div>
        <div class="section__period">2022 - 2024</div>
      </div>
    </article>

    <article class="section__item">
      <div class="section__ico">
        <img
          src="https://media-exp1.licdn.com/dms/image/C560BAQHYPsaxEHY6Ow/company-logo_200_200/0/1554474798734?e=1655337600&v=beta&t=sHmQ9B-l3WQlhpMfDyf-eQI7LE6fCY6sAdQEaC9VeGI"
          alt=""
        />
      </div>
      <div class="section__info">
        <div class="section__job">Universidad Nacional del Litoral</div>
        <div class="section__description">
          Licenciatura en Teoría de la música y composición.
        </div>
        <div class="section__period">jul. 2018 - actualidad · 3 años 9 meses</div>
      </div>
    </article>

    <article class="section__item">
      <div class="section__ico">
        <img
          src="https://media-exp1.licdn.com/dms/image/C5103AQEiyFno9AKubQ/profile-displayphoto-shrink_800_800/0/1517355387566?e=1652918400&v=beta&t=moy7d4ITm1N_FcilAgsHvOw2rstP46xmtUkW-vCyN60"
          alt=""
        />
      </div>
      <div class="section__info">
        <div class="section__job">IAC Instituto Argentino de Computación</div>
        <div class="section__description">Desarrollo Web Full Stack.</div>
        <div class="section__period">2021 - 2022</div>
      </div>
    </article>

  </section>