<section class="section container">
    <h3 class="section__title">Educación</h3>

    <ul>
      <li *ngFor="let item of listaDeEducacion" class="section__item">
        <div class="section__ico">
          <img
            [src]="item.imagenUrl"
            alt=""
          />
        </div>
        <div class="section__info">
          <div class="section__inst">
            {{item.institucion}}
          </div>
          <div class="section__degree">
            {{item.titulo}}
          </div>
          <div class="section__period">{{item.institucion}}</div>
        </div>
      </li>
    </ul>

  </section>