<div class="banner container"></div>
<section class="card container">
    <div class="card__circle-button">
      <div class="card__profile">
        <img
          src="./assets/profile-img.jpg"
          alt=""
          class="card__profile-img"
        />
      </div>
    </div>
    <div class="card__body">
      <div class="card__info">
        <h3 class="card__name">Ignacio Soler</h3>
        <h4 class="card__job">Full Stack Developer Jr.</h4>
        <h5 class="card__education">
          ISCP Instituto Superior Politécnico Córdoba
        </h5>
        <h5 class="card__location">Santa Fe, Argentina</h5>
        <p>
          Estudiante de desarrollo web full stack. Apasionado por la
          tecnología y el aprendizaje continuo.
        </p>
      </div>
    </div>
</section>