<app-banner></app-banner>
<section class="card container">
    <div class="card__circle-button">
      <div class="card__profile">
        <img
          [src]="miPortfolio.backImage"
          alt=""
          class="card__profile-img"
        />
      </div>
    </div>
    <div class="card__body">
      <div class="card__info">
        <h3 class="card__name">{{miPortfolio.nombre}}</h3>
        <h4 class="card__job">{{miPortfolio.ocupation}}</h4>
        <h5 class="card__company">{{miPortfolio.empresa}}</h5>
        <h5 class="card__location">{{miPortfolio.location}}</h5>
        <p>
          {{miPortfolio.descripcion}}
        </p>
      </div>
    </div>
  </section>