<section class="section container">
  <h3 class="section__title">Acerca de</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus assumenda quidem rerum neque porro, nesciunt maiores dolores cupiditate itaque molestias sunt. Suscipit debitis consectetur delectus ut, voluptate sit. Deserunt, Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ea nulla aperiam veniam fuga delectus, est voluptas corporis ratione, ducimus explicabo, aut porro nobis dolore rem vitae dolorem eum nostrum!</p>
</section>