footer {
  background-color: var(--primary);
  height: 3.7em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  margin-top: 1em;
}

.scroll-back {
  color: var(--light);
  padding: 0.5em;
  font-size: 1.3em;
}
