<header class="header">
  <nav>
    <div class="nav container" id="navbar">
      <div class="nav__logo">
        <img src="./assets/APLogo.png" alt="" class="nav__logo-img" />
        <h5 class="nav__logo-text">#YoProgramo</h5>
      </div>
      <div class="nav__buttons">
        <div class="nav__links">
          <a href="#"><i class="fa-brands fa-github"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"> <i class="fa-solid fa-user user"></i></a>
        </div>
      </div>
    </div>
  </nav>
  <app-banner></app-banner>
</header>
