<section class="section container">
  <h3 class="section__title">Experiencia</h3>

  <!--Item component-->

  <ul class="items-list">
    <li *ngFor="let trabajo of experienciaLista" class="section__item">
      <div class="section__ico">
        <img [src]="trabajo.imagenUrl" alt="" />
      </div>
      <div class="section__info">
        <div class="section__job">{{ trabajo.posicion }}</div>
        <div class="section__description">
          {{ trabajo.descripcion }}
        </div>
        <div class="section__period">{{ trabajo.periodo }}</div>
      </div>
    </li>
  </ul>
</section>
