<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--FontAwesome-->
    <title>Document</title>
  </head>

  <body>
    <!--Header-->
    <app-header></app-header>

    <!--Acerca de...-->
    <app-about></app-about>

    <!--Experiencia-->
    <app-experiencia></app-experiencia>
    <!---->

    <!--Educación-->
    <app-educacion></app-educacion>
    <!---->

    <!--Hard & Soft skills-->
    <app-skills></app-skills>
    <!---->

    <!--Proyectos-->
    <app-proyectos></app-proyectos>
    <!---->

    <!--Footer-->
    <app-footer></app-footer>
    <!---->
  </body>
</html>
