.banner {
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 8em;
  margin-bottom: -12px;
  background-image: url(../../../assets/banner.jpg);
  background-size: cover;
}

@media only screen and (min-width: 480px) {
  .banner {
    margin-top: 1em;
  }
}
