<section class="section container">
    <h3 class="section__title">Habilidades</h3>

    <div class="skills__item">
      <div class="section__job">HTML</div>
      <div class="skills__container">
        <div class="skills__percentage html">80%</div>
      </div>
    </div>

    <div class="skills__item">
      <div class="section__job">CSS</div>
      <div class="skills__container">
        <div class="skills__percentage css">90%</div>
      </div>
    </div>

    <div class="skills__item">
      <div class="section__job">JAVASCRIPT</div>
      <div class="skills__container">
        <div class="skills__percentage js">85%</div>
      </div>
    </div>
  </section>